/* Start Basics  */
* {
    box-sizing: border-box;
    list-style: none;
    outline: none;
    word-wrap: break-word;
}

body {
    color: black;
    font-family: $fr;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $fb;
}

p,
a,
span,
a:hover {
    font-family: $fr;
    color: inherit;
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}



/* Start Basics ends */


/* Generic Classes */

.ti {
    font-style: italic;
}

.tc {
    text-align: center;
}

.pc {
    color: $pc;
}

.sub_pc {
    color: $sub_pc;
}

.sc {
    color: $sc;
}

.sub_sc {
    color: $sub_sc;
}

.pc_bg {
    background: $pc;
}

.sub_pc_bg {
    background: $sub_pc;
}

.sc_bg {
    background: $sc;
}

.sub_sc_bg {
    background: $sub_sc;
}